@media screen and (max-width: 740px) {
    .main-container {
      width: 100vw;
    }
    .inner-container {
      top: 100px;
      left: 50%;
      transform: translate(-50%, -0%);
      width: calc(100% - 20px);
    }
    .container-fields {
      max-width: calc(100% - 20px);
    }
  }
  
  @media screen and (max-width: 1000px) {
    .container-fields {
      width: calc(100% - 20px);
    }
  }
  